@import "tailwindcss";

:root {
  --base:    #131220; 
  --deep:    #1a2935;
  --horizon: #20414a;
  --accent:  #69d5f3;
  --mint:    #69f3cc;
  --muted:   #aeaeae;
  --light:   #f5f5f5;
}

@theme inline {
  --color-base:    var(--base);
  --color-deep:    var(--deep);
  --color-horizon: var(--horizon);
  --color-accent:  var(--accent);
  --color-mint:    var(--mint);
  --color-muted:   var(--muted);
  --color-light:   var(--light);

  --font-display: var(--font-unbounded);
  --font-sans:    var(--font-manrope);
}

body {
  background-color: var(--base);
  color: var(--light);
}
